<!DOCTYPE html>
<html lang="en">
<body>
	
					<div >
						<table>
							<thead>
								<tr >
									<th >Employees</th>
								</tr>
							</thead>
							<tbody>
								<tr >
									<td >Brandon Green</td>
								</tr>

								<tr >
									<td >Kathy Daniels</td>
								</tr>

								<tr >
									<td> Elizabeth Alvarado</td>
								</tr>

								<tr> 
									<td >Michael Coleman</td>
								</tr>

							</tbody>
						</table>
					</div>
					
					<div> 
						<div >
							<table>
								<thead>
									<tr >
										<th >Position</th>
										<th >Start date</th>
										<th >Last Activity</th>
										<th >Contacts</th>
										<th >Age</th>
										<th >Address</th>
										<th >Card No</th>
									</tr>
								</thead>
								<tbody>
									<tr >
										<td >CMO</td>
										<td >16 Nov 2012</td>
										<td >16 Nov 2017</td>
										<td >brandon94@example.com</td>
										<td >30</td>
										<td >New York City, NY</td>
										<td >424242xxxxxx6262</td>
									</tr>

									<tr >
										<td >Marketing</td>
										<td >16 Nov 2015</td>
										<td >30 Nov 2017</td>
										<td >kathy_82@example.com</td>
										<td >26</td>
										<td >New York City, NY</td>
										<td >424242xxxxxx1616</td>
									</tr>

									<tr >
										<td >CFO</td>
										<td >16 Nov 2013</td>
										<td >30 Nov 2017</td>
										<td >elizabeth82@example.com</td>
										<td >32</td>
										<td >New York City, NY</td>
										<td >424242xxxxxx5326</td>
									</tr>

									<tr >
										<td >Designer</td>
										<td >16 Nov 2013</td>
										<td >30 Nov 2017</td>
										<td >michael94@example.com</td>
										<td >22</td>
										<td >New York City, NY</td>
										<td >424242xxxxxx6328</td>
									</tr>

									<tr >
										<td >Developer</td>
										<td >16 Nov 2017</td>
										<td >30 Nov 2017</td>
										<td >jasoncox@example.com</td>
										<td >25</td>
										<td >New York City, NY</td>
										<td >424242xxxxxx7648</td>
									</tr>

									<tr >
										<td >Sale</td>
										<td >16 Nov 2016</td>
										<td >30 Nov 2017</td>
										<td >christian_83@example.com</td>
										<td >28</td>
										<td >New York City, NY</td>
										<td >424242xxxxxx4152</td>
									</tr>

									<tr >
										<td >Support</td>
										<td >16 Nov 2013</td>
										<td >30 Nov 2017</td>
										<td >emily90@example.com</td>
										<td >24</td>
										<td >New York City, NY</td>
										<td >424242xxxxxx6668</td>
									</tr>
								</tbody>
							</table>
						</div>
				
</body>
</html>
